<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Sean's Cupcake Store</title>
</head>
<body>
    <header>
        <h1>Sean's Cupcake Store</h1>
        <div class="cart-container">
            <a href="{{ url_for('order') }}">
                <h7>Cart - {{ items_num }}</h7>
            </a>
                <h7>Total: ${{ order_total }}</h7>
    </header>
    <main>
        {% for cupcake in cupcakes %}
                <div class="cupcake-container">
                    <a href="{{ url_for('individual_cupcake', name=cupcake['name']) }}">
                        <h3>{{ cupcake["name"] }}</h3>
                    </a>
                    <a>
                        <h4>Size: {{ cupcake["size"] }}</h4>
                    </a>
                    <div class="flavor-frosting">
                        
                        <h5>Flavor: {{ cupcake["flavor"] }}</h4>
                        <h5>Frosting: {{ cupcake["frosting"] }}</h4>
                    </div>
                    <h4>Price: ${{ cupcake["price"] }}</h4>
                    <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
                        <button class="btn btn-primary btn-xs">Add to Cart</button>
                    </a>
                </div>    
        {% endfor %}
    </main>
</body>
</html>